#   Copyright 2018-2026 The University of Birmingham
#   Copyright 2018-2026 Max-Planck-Institute for Physics
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

### Hog .gitignore ###
# The following two lines assume that you have your IPs like this: IP/<ip name>/<ip name>.xci
# If you have a more complex subdirectory structure please make sure that:
# - the last subdirectory has the same name as the IP and that
# - only .xci files are committed.
#
IP/*/*
!IP/*/*.xci*

BD/*
!BD/*.bd

## OS
.DS_Store
.DS_Store?
.Trashes
**.Trashes
ehthumbs.db
Thumbs.db

## MISCELLANEA
**.tmp
!/.gitignore
bin
gitk
*~
**.pyc
Doc/*
**.log
DCPs/

## CERNbox
._*
**._*

## Sigasi Studio
.library_mapping.xml
.project
.settings

## Xilinx Vivado
**.str
**.jou
.Xil/
.Xilinx/
Projects/
output/
lastbuilt.txt
credentials.sh
VivadoProject
SimulationLib
profpga

## Vitis
**.zip

## Intel Quartus Prime
Projects
SimulationLib_quartus
*.bak

## Software building
**.depend
**.layout
**.o
bin*/
obj/
compile*
*.out

## ModelSim, UVVM
transcript*
work/
.cxl*
# .cxl.modelsim.version # .cxl.ip/
_*
_Alert.txt
_Log.txt
_info
**.bak
**.mti
**.mtp
**.mpf
**.wlf
**.ini
**.qdb
**.qpg
**.qtl
**.xsa

## Legacy pre-Hog Vivado project artifacts (clkBoardPBR) - rigenerati da Do CREATE in Projects/
## Rimuovi questo blocco quando cancelli il vecchio progetto .xpr alla radice del repo
## NOTA: clkBoardPBR.srcs/ NON va ignorato: contiene i sorgenti veri (vhd, xdc, .bd, testbench)
clkBoardPBR.runs/
clkBoardPBR.sim/
clkBoardPBR.cache/
clkBoardPBR.hw/
clkBoardPBR.ip_user_files/
clkBoardPBR.tmp/
clkBoardPBR.xpr
*.wcfg
clkBoardPBR.srcs/utils_1/
## rxFifo.xcix/txFifo.xcix/UART/SPI: moduli non piu' usati, confermato dall'utente
clkBoardPBR.srcs/sources_1/ip/
clkBoardPBR.srcs/sources_1/imports/imports/

## clkBoardPBR.gen/ contiene per lo piu' prodotti derivati del block design;
## l'unico file sorgente vero e' hdl/design_1_wrapper.vhd (riferito dai list file)
clkBoardPBR.gen/sources_1/bd/design_1/ip/
clkBoardPBR.gen/sources_1/bd/design_1/ipshared/
clkBoardPBR.gen/sources_1/bd/design_1/hw_handoff/
clkBoardPBR.gen/sources_1/bd/design_1/ui/
clkBoardPBR.gen/sources_1/bd/design_1/sim/
clkBoardPBR.gen/sources_1/bd/design_1/synth/
clkBoardPBR.gen/sources_1/bd/design_1/*.bda
clkBoardPBR.gen/sources_1/bd/design_1/*.bmj
clkBoardPBR.gen/sources_1/bd/design_1/*.bxml
clkBoardPBR.gen/sources_1/bd/design_1/*_bmstub.v
clkBoardPBR.gen/sources_1/bd/design_1/*_ooc.xdc
## mref: pacchettizzazione automatica dei moduli VHDL referenziati nel BD, rigenerata da Vivado
clkBoardPBR.gen/sources_1/bd/mref/
clkBoardPBR.srcs/sources_1/bd/design_1/*.bda
clkBoardPBR.srcs/sources_1/bd/design_1/ip/
clkBoardPBR.srcs/sources_1/bd/design_1/ui/
